@inherits LayoutComponentBase
 <!-- START NAV -->
<NavMenu/>
<!-- END NAV -->

<section class="hero is-info is-medium is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">This is all mine...</h1>
        </div>
    </div>
</section>

<div class="container">
    @Body
</div>