<nav class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="../">
                <img src="../images/bulma.png" alt="Logo">
            </a>
            <span class="navbar-burger burger" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
                <NavLink class="navbar-item" href="">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
                <NavLink class="navbar-item" href="help">
                    <span class="oi oi-home" aria-hidden="true"></span> Help
                </NavLink>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Account
                    </a>
                    <div class="navbar-dropdown">
                        <NavLink class="navbar-item" href="do">
                            <span class="oi oi-home" aria-hidden="true"></span> Do
                        </NavLink>
                        <hr class="navbar-divider">
                        <NavLink class="navbar-item" href="logout">
                            <span class="oi oi-home" aria-hidden="true"></span> Logout
                        </NavLink>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
